.page{
    background: #fff;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-image:url('/images/background.jpg');
    background-color:linear-gradient(#E7E7E7, #1A1A1A);
    background-size: 1440px 960px;
    background-repeat: no-repeat;
}  